body{
    font-family: verdana;
}
h1{
    padding-left: 10px;
    padding-right: 100px;
}

.second{
   float: left;


}
.mouse{
nav ul li a:hover{
   margin-bottom: 10px;
   color: red;
}}

.carousel-caption{
    text-align: left;
}
.ad{
    padding-top: 10px;
    width: 50px;
    height: 50px;
    
}
.a{
    padding-top: 10px;
    padding-left: 100px;
    padding-right: auto;
}
.abt{
    border-left: 5px solid red;
    margin-left: 12px;
    padding-left: 7px;
      
    font-family: cursive;
 }
.lrn{
    
    border: 0px solid white;
    border-radius: 8px;
    box-shadow: 8px 8px 35px rgb(102, 98, 98);
}
.cbt{
     border-left: 5px solid red;
    margin-left: 12px;
    padding-left: 20px;
}
.kpk{

    border: 0px solid white;
    border-radius: 8px;
    
    
}
.sk{
      float: left;
      }
    
.kpk{
    background-color: white;
    box-shadow: 8px 8px 30px rgb(119, 117, 117);

    
     
     animation-duration: 2s;
     animation-iteration-count:infinite ;
     animation-direction: alternate;
}
.kpk:hover{
    animation-name: example;
}


@keyframes example{
    from{background-color: white;}
    to {background-color: rgba(252,96,96,255);color: white;}
}
.al{
    padding-left: 120px;
    padding-top: 10px;
}

.xy{
    padding-top: 50px;
}
.kbt{
     border-left: 5px solid red;
    margin-left: 12px;
    padding-left: 20px;
   

}

.lft{
    text-align: start;
}
.aaa{
    padding-top: 50px;

}
.cont {
  position: relative;
  text-align: center;
  color: white;
}
.bottom-left{
    position: absolute;
    bottom: 200px;
    left: 200px;
    text-align: left;
}
.Skills{
    background-color: rgb(241, 240, 240);
}